# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Junk files
.DS_Store
Desktop.ini
Thumbs.db

# Build files
composer.lock
packages/

# NPM files
.sass-cache/
node_modules/
npm-debug.log

# Vendor files
inc/vendor/

# Scripts
assets/js/scripts*.js
!/assets/js/vendor/

# Styles
assets/css/*