/**
 * _variables.scss
 */

/*
Typography
 */
/* Variables */
$arimo: 'Arimo', 'Helvetica Neue', Helvetica, sans-serif;
$varela: 'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;

/* Definitions */
$body-font: $arimo;
$heading-font: $varela;

/* Sizes */
$font-xs: 14px !default;
$font-sm: 15px !default;
$font-lg: 16px !default;

/*
Colors
 */
/* Variables */
$blue: #107DC1;
$gray-dark: #404040;
$gray-medium: #777;
$gray-light: #EEE;
$periwinkle: #444349;
$red-orange: #CC3300;

$brand-colors: (
  'blue': #107DC1
);

/* Definitions */
$border-color: $gray-light;
$link-color: $gray-medium;
$link-color--content: $red-orange;
$text-color: $gray-dark;

/*
Screen widths
 */
$width-xs: 35rem !default;
$width-sm: 48rem !default;
$width-md: 62rem !default;
$width-lg: 100rem !default;

/*
Margins
 */
$margin-p: 1.3rem;