/**
 * _variables.scss
 */

/*
Typography
 */
/* Variables */
$sans-main: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$sans-alt: 'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;

/* Definitions */
$body-font: $sans-main;
$heading-font: $sans-alt;

/* Sizes */
$font-xs: 14px !default;
$font-sm: 15px !default;
$font-lg: 16px !default;

/*
Colors
 */
/* Variables */
$blue: #107DC1;
$gray-dark: #404040;
$gray-light: #EEE;
$periwinkle: #444349;
$red-orange: #CC3300;

$brand-colors: (
  'blue': #107DC1
);

/* Definitions */
$border-color: $gray-light;
$link-color: $red-orange;
$text-color: $gray-dark;

/*
Screen widths
 */
$width-xs: 35rem !default;
$width-sm: 48rem !default;
$width-md: 62rem !default;
$width-lg: 100rem !default;

/*
Margins
 */
$margin-p: 1.3rem;