/**
 * _content.scss
 */
.padded {
  .site-content {
    padding: 1.5rem 0;

    @include break-sm {
      padding: 2rem 0;
    }
  }
}

.page-title,
.entry-title {
  margin-bottom: 2rem;
}

.entry-content {
  p {
    &:first-of-type {
      margin-top: 0;
    }
    &.p1 {
      padding: 0 !important;
    }
  }
  a {
    color: $link-color--content;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }
}

/*
Photos
 */
.grid-container {
  padding: 0.25rem;
}
.grid {
  margin-top: -0.5rem;
}
.grid-item,
.grid-item img {
  display: block;
}
.grid-item {
  width: 50%;

  @include break-sm {
    width: 33%;
  }
  @include break-lg {
    width: 25%;
  }
}
.grid-item img {
  padding: 0.25rem;
}

/*
Sidebar
 */
.widget-area {}

/* Widgets */
.widget, .hentry {
  margin-bottom: $margin-p;
}
.widget {
  input[type="text"],
  input[type="submit"],
  button {
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    border-radius: 2px;
  }
  input[type="text"] {
    border: 1px solid $border-color;
  }
  input[type="submit"],
  button {
    line-height: 1.0;
  }

  ul {
    padding-left: 0;
    list-style-position: inside;
  }
}