/**
 * _header.scss
 */

.site-header {
  padding: 1.0rem 0;
  background-color: white;

  @include break-sm {
    padding: 1.5rem 0;
  }
  @include break-lg {
    padding: 2rem 0;
  }
}

/* Branding */
.site-branding {
  @include break-sm {
    display: none;
  }
}

/*
Navigation
 */
.main-navigation {
  float: right;

  ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &.toggled ul {
    display: block;
  }

  @include break-sm {
    float: none;

    ul {
      display: block;
    }
    li {
      display: inline;
      padding: 0 0.5rem;

      &:first-of-type {
        padding-left: 0;
      }
    }
    a {
      display: inline-block;
    }
  }
  @include break-md {
    li {
      padding: 0 0.75rem;
    }
  }

  /* Sub menus */
  .sub-menu {
    position: absolute;
    top: 100%;
    left: -9999px;
    opacity: 0;
    @include animate(opacity);
  }
  ul li:hover > .sub-menu,
  ul li:focus > .sub-menu {
    left: auto;
    opacity: 1.0;
  }
}

/*
Mobile Menu
 */
.mobile-menu {
  position: fixed;
  top: 0; left: 0;
  text-align: left;
  width: 70%;
  height: 100%;
  transition: all 0.375s ease;
  text-align: left;
  overflow-y: hidden;
  z-index: 0;
  background-color: #EEE;

  .menu {
    padding: 0 1.5rem 1.25rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul ul {
    margin-left: 1.5rem;
  }
  li {
    margin: 1.25rem 0 0;
  }
  a {
    font-size: $font-sm;
    padding: 2px;
  }

  @include break-sm {
    display: none;
  }
}
.site {
  position: relative;
  z-index: 1;
  @include animate(transform, 0.375s);

  &.pushed {
    transform: translateX(70%);
  }
}

/* Button */
.menu-toggle {
  display: block;
  font-size: 0.875rem;
  @include button;
  padding: 0.625rem;

  @include break-sm {
    display: none;
  }
}
